version: '3.6'

services:
  php:
    build:
      context: "php"
      dockerfile: Dockerfile
      args:
         - LOCAL_UID=${LOCAL_UID}
         - LOCAL_GID=${LOCAL_GID}
    container_name: ${COMPOSE_PROJECT_NAME}
    working_dir: ${WORKING_DIR}
    environment:
      - PHP_IDE_CONFIG=serverName=localhost
    volumes:
      - ./php/php-ini-overrides.ini:/usr/local/etc/php/conf.d/infraestructure-overrides.ini
      - ../${SYMFONY_APP_PATH}:${WORKING_DIR}
    networks:
      - backend
  web:
    image: nginx:alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ../${SYMFONY_APP_PATH}:${WORKING_DIR}
    ports:
      - "${WEB_LOCAL_PORT_HTTP}:80"
      - "${WEB_LOCAL_PORT_HTTPS}:443"
    depends_on:
      - php
    networks:
      - backend
networks: 
  backend:
    name: custom_backend
